---
import { getCollection, getEntryBySlug } from 'astro:content';
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
// import Posts from '../components/Posts.astro';
import Text from '../components/Text.astro';
import Info from '../components/Info.astro';
import Vision from '../components/Vision.astro';
import Gols from '../components/Gols.astro';
import Works from '../components/Works.astro';
import Teams from '../components/Teams.astro';
import Services from '../components/Servrices.astro';
import Pricing from '../components/Pricing.astro';
---

<Layout title='الطاف'>
  <Header />

  <!-- hero -->
  <Hero />
  <main>
    <Info />
    <Vision />
    <Gols />
    <Works />
    <Teams />
    <Services />
    <Pricing />

    <section class='flex justify-between py-10 gap-4 px-10'>
      <div
        class='bg-clip-border p-6 bg-violet-600 border-4 border-violet-300 border-solid rounded-md'
      >
      </div>
      <div
        class='bg-clip-padding p-6 bg-violet-600 border-4 border-violet-300 border-dashed'
      >
      </div>
      <div
        class='bg-clip-content p-6 bg-violet-600 border-4 border-violet-300 border-dashed'
      >
      </div>
    </section>
  </main>
</Layout>
