   <section
      class='grid items-center justify-center gap-5 md:grid-cols-2 bg-gradient-to-r from-purple-500 to-pink-500'
    >
      <!-- left -->
      <div class='px-4 py-10 md:py-0'>
        <h1 class='text-3xl md:text-6xl max-w-xl font-serif'>
          <span class='font-bold underline decoration-red-500 decoration-4 text-indigo-600'
            >الطاف</span
          > شركة تشطيب للديكور والتشطيبات
        </h1>
        <p class="text-gray-200 text-[20px]">
        احدي شركات تشطيب الشقق والفلل وأعمال الديكور الرائدة


        </p>
        <div class="py-10">
          <a href="#"  class="border text-white p-3 border-slate-00 hover:bg-indigo-700 transition-all duration-300 text-xl rounded">اتصل بنا</a>
          <a href="#" class="border text-white p-3 border-slate-500 bg-indigo-700  text-xl rounded"> باقات التشطيب</a>
        </div>
      </div>

      <!-- right -->
      <img
        class='object-cover w-full '
        src='/image/hulls/hero.jpg'
        alt=''
      />
    </section>