<section
  class="flex gap-5 rounded py-10 overflow-x-scroll snap-x snap-mandatory snap-center scrollbar-hide bg-[url('/banner0s3.svg')] bg-no-repeat bg-center bg-cover"
>
  <img
    src='https://images.pexels.com/photos/271800/pexels-photo-271800.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    alt=''
    class='w-72 object-cover snap-cenetrs'
  />

  <img
    src='https://images.pexels.com/photos/439227/pexels-photo-439227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    alt=''
    class='w-72 object-cover'
  />
  <img
    src='https://images.pexels.com/photos/707581/pexels-photo-707581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    alt=''
    class='w-72 object-cover'
  />
  <img
    src='https://images.pexels.com/photos/631411/pexels-photo-631411.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    alt=''
    class='w-72 object-cover'
  />
  <img
    src='https://images.pexels.com/photos/1139784/pexels-photo-1139784.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    alt=''
    class='w-72 object-cover'
  />
  <img
    src='https://images.pexels.com/photos/414706/pexels-photo-414706.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    alt=''
    class='w-72 object-cover'
  />
  <img
    src='https://images.pexels.com/photos/198272/pexels-photo-198272.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    alt=''
    class='w-72 object-cover'
  />
  <img
    src='https://images.pexels.com/photos/1148450/pexels-photo-1148450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    alt=''
    class='w-72 object-cover'
  />
  <img
    src='https://images.pexels.com/photos/1510173/pexels-photo-1510173.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    class='w-72 object-cover'
    alt=''
  />
  <img
    src='https://images.pexels.com/photos/2396108/pexels-photo-2396108.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    alt=''
    class='w-72 object-cover'
  />
</section>
