<section class='grid gap-3 md:grid-cols-2 items-center justify-center px-2x bg-gradient-to-br from-slate-600 to-red-400  py-3s'>
 
    <div>
        <img src="/logo.jpg" class="w-full h-screen object-cover" alt="">
    </div>
     <div class="">
      <p class='text-white text-xl md:text-3xl px-5'>
      <span class='text-green-800 text-xl md:text-4xl font-bold'>الطاف</span> هو موقع إلكتروني متخصص في مجال التشطيب
      والترميم، حيث يوفر خدمات تشطيب المنازل والمكاتب والمحلات التجارية بأسلوب متميز
      وفريد يضمن الحصول على النتيجة المرجوة. يتميز الموقع بفريق من الخبراء والمهندسين
      المحترفين الذين يعملون بجدية وكفاءة عالية لتحويل تصاميم العملاء إلى واقع ملموس
      يفوق توقعاتهم. ويتميز الموقع بالتعامل الشفاف مع العملاء، حيث يتم تقديم تفاصيل
      دقيقة وشفافة حول تكاليف الخدمات وجدولة العمل وأي تحديثات مستقبلية. إذا كنت تبحث
      عن خدمات تشطيب وترميم متميزة واحترافية، فإن <span class='text-green-800 text-xl md:text-4xl font-bold'
        >الطاف</span
      > هو المكان المناسب لتلبية احتياجاتك وتحقيق أهدافك.
    </p>
    
  </div>
</section>
