<section>
  <h2>خدمتنا</h2>
  <p>
    تقدم "الطاف" خدمات متكاملة في مجال التشطيب والترميم للمساحات التجارية
    والسكنية والمكاتب والفنادق والمباني الحكومية والعامة. وتشمل خدماتنا:
  </p>
  <ul>
    <li></li>
  </ul>
  <p>
    نحن نضمن جودة الخدمة ونلتزم بالمواعيد المحددة ونحرص على تقديم خدمات مميزة
    لعملائنا لتحويل المساحات إلى أماكن أكثر جمالاً وراحة وعملية.
  </p>
</section>
