<section>
  <h2>فريقنا</h2>
  <p>
    يتميز فريق عمل "الطاف" بالخبرة والكفاءة في مجال التشطيب والترميم، ويضم
    فريقنا مجموعة متميزة من المهندسين المعماريين والفنيين والحرفيين المهرة
    والمدربين بشكل جيد. يتميز فريق العمل بالاهتمام بتفاصيل العمل والالتزام
    بالمواعيد المحددة والعمل بأحدث التقنيات والمعدات لتحقيق الجودة العالية في كل
    مشروع يقومون بتنفيذه. نحن نولي اهتماماً كبيراً لتوظيف أفضل الكفاءات في
    المجال ونقوم بتدريبهم على أحدث التقنيات والأساليب في مجال التشطيب والترميم،
    ونحن نؤمن بأن فريق العمل هو المحرك الأساسي لنجاح أي مشروع، ولذلك نحرص على
    توفير بيئة عمل مناسبة ومحفزة للابتكار والإنتاجية.
  </p>
</section>
