<section>
  <h2>اعمالنا</h2>
  <p>
    في "الطاف" نقدم خدمات متنوعة في مجال التشطيب والترميم للمساحات المختلفة، ومن
    بين خدماتنا:
  </p>
  <ul>
    <li>
      تشطيب المنازل والشقق: نحن نقوم بتشطيب المنازل والشقق بأساليب وتصميمات
      مختلفة وبجودة عالية وبأسعار تنافسية.
    </li>
    <li>
      الترميم: نحن نقوم بترميم المباني والمساحات التاريخية والأثرية والتي تتطلب
      الحفاظ على المظهر الأصلي للمبنى والأثر الثقافي.
    </li>
    <li>
      الديكور الداخلي: نحن نقوم بتصميم وتنفيذ أعمال الديكور الداخلي للمنازل
      والشقق والمكاتب والمحال التجارية والمنشآت الأخرى.
    </li>
    <li>
      التشطيبات الخارجية: نحن نقوم بتشطيب المباني من الخارج باستخدام أحدث
      التقنيات والمواد البنائية عالية الجودة.
    </li>
    <li>
      خدمات الصيانة: نحن نقدم خدمات الصيانة والإصلاح للمباني والمساحات المختلفة.
    </li>
  </ul>

  <p>
    تعتمد خدماتنا على جودة العمل والالتزام بالجودة والدقة في التنفيذ، وتهدف إلى
    تحويل المساحات إلى أماكن تنعم بالجمال والراحة والاستخدام الأمثل للمساحة.
  </p>
</section>
